<section class="card card-form">
  <h2>Editar Funcionário</h2>

  <form method="post" action="/funcionarios/editar/<%= funcionario.id %>">

    <label>Nome</label>
    <input type="text" name="nome" value="<%= funcionario.nome %>" required />

    <label>Cargo</label>
    <input type="text" name="cargo" value="<%= funcionario.cargo %>" />

    <label>Telefone</label>
    <input type="text" name="telefone" value="<%= funcionario.telefone %>" />

    <label>Observações</label>
    <textarea name="observacoes" rows="3"><%= funcionario.observacoes %></textarea>

    <button type="submit" class="btn">Atualizar</button>
  </form>
</section>
